@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #181A20;
  color: #FFFFFF;
}

#navbar {
  padding: 2em 4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262A34;
  color: #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 50vw;
  margin: 20vh auto;
}

.container form {
  margin-top: 1.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
  padding: 1.2em;
  border-radius: 10px;
  color: silver;
  background-color: #262A34;
  border: none;
  font-size: 1.1em;
  font-weight: 500;  
  text-decoration: none;
}

form input[type='submit'] {
  background-color: royalblue;
  color: #fff;
  padding: 1em 2em;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.task-list {
  list-style: none;
  margin-top: 2em;
}

.task-list li {
  padding: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #262A34;
  border-radius: 16px;
}

.task-list li:hover {
  cursor: pointer;
  background-color: royalblue;
}

.task-list .title {
  text-decoration: none;
  font-weight: bold;
  color: silver;
  transition: 0.5s;
  font-size: 1.1em;
  font-weight: 500;
}

.task-list .title:hover {
  color: #181A20;
}

.title.done{
  text-decoration: line-through;
  color: silver;
  opacity: 0.5;
}

.actions {
  display: flex;
}

.actions i {
  font-size: 1.8em;
  margin-right: 0.6em;
  color: silver;
}

.bi.bi-pen{
  font-size: 1.4em !important;
}

.actions i:hover {
  transition: .4s;
  color: #181A20;
  filter: rotate(45deg);
}

.actions form{
  margin: 0;
}

.actions button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media(max-width: 768px){

  .container {
    max-width: 90vw;
  }
  #navbar {
    padding: 2em 2em;
    font-size: .9em;
  }

}